@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --color1: #412859;
    --color2: #5C51A6;
    --color3: #CC44F2;
    --color4: #f12e2e;
    --color5: #F2C36B;
  }


.form{
    display: flex;
    justify-content: center;
}

.form_dig{
    border: 0.1em solid var(--color5);
    border-radius: 2%;
    width: 50%;
    height: 2em;
}

.form_btn{
    height: 2.4em;
    width: 6em;
    margin-left: 1em;
    border: 0px;
    border-radius: 4%;
    background-color: var(--color3);
    color: var(--color5);
    font-family: Bebas Neue, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
}